* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

li{
    list-style: none; 
}

a{
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.position-item{
    position: relative;
}

.button-group {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;  
    top: 20px;        
    left: 20px;      
    z-index: 1000;   
}

.button-group button {
    width: 90%;
    padding: 20px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.button-group button:hover {
    background-color: #2980b9;
}

.form{
    width: 75%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
}

.form-container {
    opacity: 0; 
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease; 
}


.form-container.show {
    opacity: 1;
    transform: translateY(0); 
}


.form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;

}

.form-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    /* position: relative; */
}

#form-action #form-name{
    font-weight: bold;
}

#form-action span {
    margin-bottom: 5px;
    font-size: 16px;
}

#form-action input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 80%;
}



.data-option{
    position: absolute;
    left: 20%;
}


.data-type i {
    font-size: 16px; 
    color: #666;
}

.data-type {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 20px;
    padding-right: 30px; 
}

.data-type-options {
    display: none;
    position: absolute;
    top: 100%; 
    left: -119px;
    width: 180px; 
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.data-type-options li {
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
}

.data-type-options li:hover {
    background-color: #ebe4e4;
} 

.data-type i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: auto; 
} 


#form-action input[type="checkbox"] {
    position: absolute;
    left: 21.5%;
}

#form-action input[type="text"]:focus {
    outline: none;
    border-color: #3498db;
}
